h1 {
    font-size: 80px;
    font-style: italic;
    text-decoration-color: brown;
}
h2 {
    font-size: medium;
    background-color: aqua;
    

}
body  {
    background-color:white;
    text-align: center;
    text-decoration: brown;padding-left: 2cm;

}

.paragraph{
    font-size: smaller;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cyan;
}

.test {
    font-family: fantasy;
    font-style: italic;
    background-color: aquamarine;
}
#mes {
    font-size: medium;
    background-color: coral;
}
.ring {
    table-layout: fixed;
    text-align:center;
    -o-table-baseline: initial;
}
#div1 {
    width: 480px;
    border:5px solid blue;
}
#div2{
    width: 410px;
    height: 60px;
    border:5px solid black;

}
#div3{
    margin:0;
    border:5px solid pink;
    max-width: 100%;
    height: 60px;

}
.pet {
    
    text-decoration: blue;
text-decoration-line: line-through;
}
